
/*:root {
    --red: #ff453a;
    --red-dim: rgba(224, 63, 53, 0.24);
    --green: #8fd158;
    --green-dim: rgba(143, 209, 88, 0.22);
    overflow-y: auto;
}*/

:root {
    --background: #fff;
    --foreground: #fff;
    --border: 1px solid #e1e4e8;
    --border-color: #e1e4e8;
    --nav: rgb(36, 41, 46);
    --nav-text: #fff;
    --nav-muted: #b3b3b3;


    --foreground-accent: #f7f7f7;
    --text-color: #24292e;
    --muted: #586069;

    --primary: #0366d6;

    --nav-size: 48px;
    --border-radius: 8px;
    --speed: 500ms;
    --primary-dim: rgba(0, 122, 255, 0.08);
    --light-dim: rgba(200, 200, 200, 0.2);
    --success: rgba(52, 199, 89, 1);
    --success-dim: rgba(52, 199, 89, 0.15);
    --danger: rgba(255, 59, 48, 1);
    --danger-dim: rgba(255, 59, 48, 0.15);
    --box-shadow: none;


}

[data-theme='dark'] {

    --background: rgba(13,17,23,1);
    --foreground: rgba(13,17,23,1);
    --border: 1px solid rgb(48, 54, 61);
    --border-color: rgb(48, 54, 61);

    --nav: rgba(22, 27, 34, 1);
    --foreground-accent: rgba(13, 17, 23, 1);
    --text-color: #FFFFFF;
    --nav-size: 48px;
    --muted: #9D9EA3;
    --border-radius: 8px;
    --speed: 500ms;
    --primary: rgb(88, 166, 255);
    --primary-dim: rgba(88, 166, 255, 0.2);
    --light-dim: rgba(255, 255, 255, 0.1);
    --success: rgba(48, 209, 88, 1);
    --success-dim: rgba(48, 209, 88, 0.50);
    --danger: rgba(255, 69, 58, 1);
    --danger-dim: rgba(255, 69, 58, 0.50);
    --box-shadow: none;
}

body[data-theme='dd'] {
    --foreground: rgba(39, 43, 47, 1);
    /*--foreground: #242526;*/
    /*--nav: #242526;*/
    --nav: rgb(39, 43, 47);
    /*--background: #151515;*/
    --background: rgb(33, 37, 41);
    --foreground-accent: #353639;
    --text-color: #fff;
    --nav-size: 48px;
    --border: 1px solid #474a4d;
    --muted: rgb(166, 167, 169);
    --muted-dim: rgba(166, 167, 169, 0.15);
    --border-radius: 6px;
    --speed: 500ms;
    /*--primary: rgba(254, 188, 44, 1);*/
    --primary: #ff9f10;
    --primary-dim: rgba(255, 159, 16, 0.15);
    --success: rgba(48, 209, 88, 1);
    --success-dim: rgba(48, 209, 88, 0.15);
    --danger: rgba(255, 69, 58, 1);
    --danger-dim: rgba(255, 69, 58, 0.15);
    /*--box-shadow: none;*/
    /*--box-shadow: 0 2px 2/8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);*/
    --box-shadow: none;
}


body {

}

.fa-stack-2x{
    color: transparent;
}

.table-sm th, .table-sm td {
    padding: 0.5rem 0.75em;
}

.col-md-10 {
    background-color: var(--background);
}

.container-fluid {
    width: 100%;
    /*max-width: 1800px;*/
    /*box-shadow: var(--box-shadow);*/
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--foreground);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--foreground);
    border: var(--border);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    height: 25px;
    width: 6px;
    background-color: var(--foreground-accent);
    border-radius: 8px;
    border: var(--border);
    margin: 4px;
}

::-webkit-scrollbar-corner {
    background-color: var(--foreground);
}

::-webkit-resizer {
    background-color: var(--foreground);
}

.text-muted {
    color: var(--muted) !important;
}

.border-danger {
    border-color: var(--danger) !important;
}

.custom-file-input:focus ~ .custom-file-label {
    box-shadow: none;
    border: var(--border);
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--foreground);
    color: var(--muted);
    border: var(--border);
}


.custom-file-label {
    background-color: var(--background);
    color: var(--muted);
    border: var(--border);
}

.custom-file-label::after {
    background-color: var(--background);
    color: var(--muted);
    border-left: var(--border);
}

.form-control {
    background-color: var(--background);
    color: var(--muted);
    border: var(--border);
}

.form-control:focus {
    background-color: var(--background);
    color: var(--muted);
    border: var(--border);
    box-shadow: none;
}

.grid-fluid {
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr;
}

.navbar-text {
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    color: var(--nav-text)
}

.menu-bar {
    border: var(--border);
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 0 8px;
}

.menu-bar-item {
    padding: 2px 8px;
}

.menu-bar-item:hover {
    background-color: var(--primary-dim);
}

.menu-bar-menu {
    margin-left: -8px;
    margin-top: 6px !important;
    max-width: 500px !important;
    padding: 4px 0 !important;
}

.menu-bar-menu .dropdown-item {
    padding: 2px 16px !important;
    border-radius: 0;
}

.menu-bar-menu .dropdown-item:hover {
    background-color: var(--primary-dim) !important;
    border: 1px solid transparent !important;
}

.menu-bar-title {
    font-weight: 700;
}

.flex-table {
    background-color: var(--foreground);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0px 8px 0px 8px;
}

.flex-table-element {
    font-weight: 500;
    color: var(--muted);
    border: none !important;
    background-color: transparent !important;
    padding: 8px 12px;
}

.custom-select {
    background-color: var(--muted-dim);
    border: none;
    color: var(--muted);
    caret-color: var(--muted);
    padding: 5px 10px;
    padding-right: 2em;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='gray' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E")
}

.custom-select:focus {
    box-shadow: none;

}

.dropdown-header {
    margin: 0;
    padding: 8px 8px;
    margin-bottom: 4px;
    border-bottom: var(--border);
}

.cm-s-one-dark .CodeMirror-gutter, .cm-s-one-dark .CodeMirror-gutters {
    background-color: var(--foreground) !important;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: var(--foreground) !important;
}

.editor-container {
    border: var(--border);
    border-radius: var(--border-radius);
}

.cm-s-one-dark {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--foreground) !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.preload {

}

.postload {

}

.notifications {
    padding: 4px 6px !important;
    position: relative;
    border-radius: 100%;
    background-color: transparent !important;
    border: 1px solid var(--primary);
    bottom: 8px;
    right: 12px;
}

.badge-top-right{
    bottom: 8px;
    background-color: var(--primary);
    right: 8px;
    position: relative;
}

/*:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: var(--foreground) !important;
}*/

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background);

    color: var(--text-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px !important;
    font-weight: 400;
}

a {
    color: var(--primary);

}

a:hover {
    color: var(--primary) !important;
    opacity: 0.75;
}

.fadein {

    animation: fadein .1s ease-in;
}

@keyframes fadein {
    from {
        margin-left: -10px;
    }
    to {
        margin-left: 0px;
    }
}

.menu {
    background-color: var(--foreground);
    height: calc(100%);
    min-height: calc(100vh) !important;
    /*border-right: var(--border);*/
    /*margin: 1em 1em;*/
    /*border-radius: var(--border-radius);*/
    padding: 1em 1em;
    box-shadow: var(--box-shadow);
    border-right: var(--border);
    /*box-shadow: inset -3px 0px 7px -2px rgba(28, 27, 27, 0.2);*/
}

.menu-link {
    color: var(--text-color);

}

.menu-link:hover {
    color: var(--text-color);
    text-decoration: none;
}


.menu-list {
    /*background-color: transparent;*/
}

.menu-list-item {
    background-color: transparent !important;
    padding: 8px 0px 8px 1em;
    color: var(--muted);
    margin-bottom: 4px;
    border-radius: var(--border-radius);
    border: 1px solid transparent !important;
    transition: 100ms ease-in-out;
}

.menu-list-item.active {
    color: var(--text-color);
    background-color: var(--foreground) !important;
    border-radius: var(--border-radius);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.02);
    border: var(--border) !important;
}

.menu-list-item:hover {
    border-radius: var(--border-radius);
    border: var(--border) !important;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.02);
}

.menu-list-item.active a {
    color: var(--primary) !important;

}

.menu-list-item a {
    text-decoration: none;
    color: var(--text-color);
}

.menu-bottom {
    width: inherit;
    margin-bottom: 1em;
    position: absolute;
    bottom: 0;
}

.dropdown-item {
    color: var(--text-color) !important;
    padding: 8px 12px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 4px;
}

.dropdown-menu {
    background-color: var(--foreground);
    border: var(--border);
    color: var(--text-color);
    padding: 8px;


}


.dropdown-menu .dropdown-item:hover {
    background-color: var(--foreground);
    color: var(--text-color);
    border: var(--border);
    /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.02);*/
}

a:hover {
    color: var(--primary);
    opacity: 1;

}

hr {
    border-color: var(--border-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.btn-primary.btn-sm {
    background-color: rgba(var(--primary), 0.3);
}

.btn-secondary {
    background-color: rgba(var(--primary), 0.3) !important;
    border: var(--border);
}

.text-danger {
    color: var(--danger) !important;
}

a.text-danger:hover {
    color: var(--danger) !important;
}


.text-success {
    color: var(--success) !important;
}

a.text-success:hover {
    color: var(--success) !important;
}

.btn-md {
    height: calc(1.5em + .75rem + 2px);
}

.btn-primary {
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    font-size: 14px;
    font-weight: 500;
    border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: var(--primary) !important;
    background-color: var(--primary-dim) !important;
    border-color: var(--primary);
    box-shadow: none !important;
    border: 1px solid var(--primary) !important;
}

.btn-danger {
    color: var(--red);
    background-color: transparent;
    border: 1px solid var(--red);
    border-color: var(--red);
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    color: var(--red) !important;
    background-color: var(--red-dim) !important;
    border-color: var(--red);
    box-shadow: none !important;
    border: 1px solid var(--red) !important;
}

.btn-success {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-color: var(--green);
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: var(--green) !important;
    background-color: var(--green-dim) !important;
    border-color: var(--green);
    box-shadow: none !important;
    border: 1px solid var(--green) !important;
}


.nav-stack {
    color: #353639;
    margin-left: -4px;
}

.list-group-item {
    background-color: var(--foreground);
    border-bottom: var(--border);
}

.navbar .nav-link {
    font-size: 15px;
    font-weight: 400;
    line-height: 2em;
    padding: 8px 8px !important;
    color: var(--nav-text);
    transition: color .1s cubic-bezier(.4, 0, .2, 1);
}

.navbar .nav-link:hover {
    color: var(--nav-text);
}

.bg-dark {
    background-color: var(--nav) !important;
}

.table th, .table td {
    border-top: var(--border);
}

.navbar {

    height: var(--nav-size);
    background-color: var(--nav) !important;
    box-shadow: var(--box-shadow);
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    color: var(--text-color) !important;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--nav-text);
}



/*Toast*/

.border-danger {
    border-color: var(--danger);
}

.toast-header {
    background-color: var(--foreground);
    color: var(--text-color);
    border: none;
    background-clip: unset !important;
}

.toast-body {
    background-color: var(--foreground);
    color: var(--text-color);
}

/*Workspace editor tabs*/

.CodeMirror {
    height: 35em !important;
}

.nav-tabs {
    background-color: transparent;
    border-bottom: none;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}

.nav-tabs .nav-link {
    line-height: 2em;
    font-weight: 500;
    border-radius: 0;
    color: var(--muted);
    border: none;
    transition: color .2s cubic-bezier(.4, 0, .2, 1), border .2s cubic-bezier(.4, 0, .2, 1);
    border-bottom: 2px solid transparent;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none;
    color: var(--text-color);
    border-bottom: 2px solid var(--primary);
}

.card {
    background-color: var(--foreground) !important;
    border: var(--border);
}


.dropdown-menu {
    font-size: 14px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    margin-right: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll-box {
    height: auto;
    padding-right: 4px;
    max-height: 320px;
    overflow-x: auto;
    overflow-y: auto;
}


.table-title {
    font-weight: 600;
    color: inherit;

    text-decoration: none;
}

/*.badge .badge {
    border: 1px solid #fff;
}*/


.no-bs {
    text-decoration: none;
    color: inherit;
}

.no-bs:hover {
    text-decoration: none;
    color: inherit;
}

/*.badge {
    margin: 0.15em;
}*/

.table-responsive {
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.table {
    margin-bottom: 0;
    background-color: var(--foreground);
    color: var(--text-color);

}

td {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table thead th {
    border: none;
}


.card {

}

.sub-header {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
    margin-bottom: 16px;
}

.card-subtitle {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .6;
    margin-bottom: 16px;
}

.card-title {
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
body {
    min-height: 100vh;
}

.container-fluid {

}

.footer {
    font-family: 'IBM Plex Sans', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    opacity: 0.8;
    background-color: transparent;
    border-top: var(--border);
}


.results-summary {
    position: relative;
    max-height: 5em;
    overflow-y: hidden;
    /* … */
}

.results-summary:after {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    height: 2em;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #fff);
}

pre {
    counter-reset: line;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMonoBold';
    src: url('JetBrainsMono-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

code {
    font-family: JetBrainsMono, monospace !important;
    white-space: pre-wrap;
    color: #000;
}

.diff-remove {

}

.diff-add {
    color: rgba(232, 72, 93, 1);
    margin: 0;
    font-family: monospace;
    font-size: 87.5%;
    padding: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    background-color: var(--foreground);
    color: var(--text-color);
}

.close {
    color: var(--text-color);
}

.close:hover {
    color: var(--text-color);
}

.beta {
    color: #333;
    background: url(/images/support.jpg) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron {
    background-color: var(--foreground);
    border: var(--border);
    border-radius: var(--border-radius);
}

code {
    color: var(--primary);
}

/*Badges*/

.badge.badge-success {
    color: var(--success);
    background-color: var(--success-dim);
    font-size: 11px;
    padding: 5px 10px;
}

.badge.badge-danger {
    color: var(--danger);
    background-color: var(--danger-dim);
    font-size: 11px;
    padding: 5px 10px;
}

.badge.badge-primary {
    color: var(--primary);
    background-color: var(--primary-dim);
    font-size: 11px;
    padding: 5px 10px;
}

.badge.badge-light {
    color: var(--text-color);
    background-color: var(--light-dim);

    font-size: 11px;
    padding: 5px 10px;
}

.badge.badge-secondary {
    color: var(--muted);
    background-color: var(--muted-dim);
    font-size: 11px;
    padding: 5px 10px;
}
