/* Colors */

$theme-colors: (
        "primary": #0366d6,
        "secondary": #272B2F,
        "danger": #ff453A,
        "success": #30d158,
        "warning": #ffd60a
);

$body-bg: rgba(13, 17, 23, 1);
$foreground: rgba(22, 27, 34, 1);
$body-color: #ffffff;
$border-color: rgb(48, 54, 61);
$component-active-color: $foreground;

$border-radius: .375rem;
$enable-transitions: true;


/* Tables */

$table-bg: $body-bg;
.table {
  margin-bottom: 0 !important;
}

.td {
  border: 1px solid #fff !important;
  padding-bottom: 1em !important;
}


/* Import All */

@import "../../node_modules/bootstrap/scss/bootstrap";
